
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" src="../stylesheets/style.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>
<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <section>
  <h1><%=song.title%></h1>

  <hr/>

  <p>Album : <%=song.album%></p>

  <p>Artist : <%=song.artist%>

  <% if (song.year) { %>

  <p>Year : <%=song.year%></p>

  <% } %>

  <% if (song.bpm) { %>

  <p>BPM : <%=song.bpm%></p>

  <% } %>
  </section>

      <footer class="footer-copyright">
        <% include partials/footer %>
      </footer>

    </body>
    </html>
